.container .title{
  font-size: 3em;
  text-align: center;
  border: 5px solid var(--primary-color);
  padding: .3em 2em;
  border-radius: 4px;
}

.text-light {
  color: var(--light-color);
}

.container ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.container .questions{
  padding: 3em;
}

.container .grid{
  margin-top: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container .btn{
  padding: .2em 1.7em;
  border: none;
  border-radius: .1em;
  font-size: 1.2em;
}

.container .btn:hover{
  cursor: pointer;
  background-color: #f0f0f0;
  color: #202020;
}

.next{
  background-color: var(--primary-color);
  justify-self: flex-end;
}

.prev{
  background-color: #faff5a;
  justify-self: flex-start;
}

ul li{
  color: #AAAAAA;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #333;
  padding: 15px;
}

ul li input[type=radio]{
  position: relative;
  visibility: visible;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

ul li label{
  display: block;
  font-weight: 400;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.25s linear;
}

ul li:hover label{
  color: #FFFFFF;
}

ul li .check{
  display: inline-block;
  border: 3px solid #AAAAAA;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  transition: border 0.25s linear;
}

ul li:hover .checked {
  border: 3px solid #FFFFFF;
}

ul li .check::before{
  display: block;
  content: '';
  border-radius: 100%;
  height: 12px;
  width: 12px;
  margin: auto;
  transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 3px solid var(--primary-color);
}

input[type=radio]:checked ~ .check::before {
  background: var(--primary-color);
}

input[type=radio]:checked ~ .text-primary{
  color: var(--primary-color);
}

.checked {
  border: 3px solid var(--primary-color) !important;
}

.checked::before {
  background: var(--primary-color);
}

input[type="radio"] {
  display: inline-block;
}
