body {
    background-color: #121212;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container .title{
    font-size: 2.5em;
    text-align: center;
    border: 4px solid #2aff00;
    padding: 0.5em 2em;
    border-radius: 8px;
    display: inline-block;
}

.text-light {
    color: white;
    text-align: left;
}

.container ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.container .questions{
    padding: 3em;
    text-align: left;
}

.container .grid{
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container .btn{
    padding: .5em 1.7em;
    border: none;
    border-radius: 3px;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.container .btn:hover{
    background-color: #f0f0f0;
    color: #202020;
}

.next{
    background-color: var(--primary-color);
    justify-self: flex-end;
}

.prev{
    background-color: #faff5a;
    justify-self: flex-start;
}

ul li{
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    border-bottom: 1px solid #333;
    padding: 15px;
}

ul li input[type=radio]{
    position: relative;
    visibility: visible;
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

ul li label{
    display: block;
    font-weight: 400;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.25s linear;
}

ul li:hover label{
    color: #FFFFFF;
}

ul li .check{
    display: inline-block;
    border: 3px solid #AAAAAA;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    transition: border 0.25s linear;
}

ul li:hover .checked {
    border: 3px solid #FFFFFF;
}

ul li .check::before{
    display: block;
    content: '';
    border-radius: 100%;
    height: 12px;
    width: 12px;
    margin: auto;
    transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
    border: 3px solid var(--primary-color);
}

input[type=radio]:checked ~ .check::before {
    background: var(--primary-color);
}

input[type=radio]:checked ~ .text-primary{
    color: var(--primary-color);
}

.checked {
    border: 3px solid var(--primary-color) !important;
}

.checked::before {
    background: var(--primary-color);
}

input[type="radio"] {
    display: inline-block;
}

.container ol li {
    font-size: 1.4em;
    color: white;
    opacity: 1;
    text-align: left;
}

.start {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.start .btn {
    padding: .5em 2em;
    border: none;
    border-radius: 3px;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    background-color: #faff5a;
    cursor: pointer;
    transition: 0.5s;
}

.start .btn:hover {
    background-color: #e5e500;
    transition: 0.5s;
}

#form {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

#form .userid {
    padding: .7em;
    width: 30%;
    border: 2px solid #ccc;
    border-radius: 3px;
    font-size: 1em;
    background-color: white;
    color: black;
}